@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  font-family: inherit;
  background: none;
  border: none;
cursor: pointer;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
